<div class="container my-14 flex">
  <!-- Sidebar Start -->
  <nav class="flex {{ isNavBarOpen ? 'absolute' : 'static' }}">
    <div
      class="{{
        isNavBarOpen ? 'w-[300px]' : 'w-fit rounded-lg border-r-2'
      }} h-screen bg-white sidebar bottom-0 lg:left-0 p-2 overflow-y-auto text-center z-50 block"
    >
      <div class="{{ !isNavBarOpen ? 'flex' : 'hidden' }}">
        <svg
          (click)="openNavBar()"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-5 h-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5"
          />
        </svg>
      </div>
      <div class="flex {{ isNavBarOpen ? 'flex' : 'hidden' }}">
        <span (click)="closeNavBar()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M18.75 19.5l-7.5-7.5 7.5-7.5m-6 15L5.25 12l7.5-7.5"
            />
          </svg>
        </span>
      </div>
      <div class="{{ isNavBarOpen ? 'inline' : 'hidden' }}">
        <h1>Categories</h1>
      </div>
    </div>
    <div
      (click)="closeNavBar()"
      class="bg-gray-900 w-screen sticky {{
        isNavBarOpen ? 'block' : 'hidden'
      }} left-0 top-0 opacity-30"
    ></div>
  </nav>
  <!-- Sidebar Ends -->

  <!-- Product Box Start -->
  <div class="">
    <div
      class="grid grid-flow-row grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10"
    >
      <!-- Product Card 01 -->
      <div class="shadow-lg rounded-lg">
        <a href="#">
          <img
            src="../../../../../assets/images/products/women/product4.jpg"
            class="rounded-tl-lg rounded-tr-lg"
          />
        </a>
        <div class="p-5 mx-auto">
          <h3><a href="#">Women's Skirt</a></h3>
          <!-- Card Buttons Start -->
          <div class="flex flex-col xl:flex-row justify-between my-2">
            <a
              href="#"
              class="bg-gradient-to-r from-red-600 to-pink-500 rounded-full mr-1 py-2 px-3 text-gray-50 flex flex-row hover:from-pink-600 hover:to-pink-600 text-sm whitespace-nowrap justify-center my-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5 mr-1"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
                />
              </svg>
              Add to Cart
            </a>
            <a
              href="#"
              class="bg-purple-600 rounded-full ml-1 py-2 px-3 text-gray-50 flex flex-row hover:bg-purple-700 text-sm whitespace-nowrap justify-center my-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5 mr-1"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"
                />
              </svg>
              View Details
            </a>
          </div>
          <!-- Card Buttons End -->
        </div>
      </div>
      <!-- Product Card 02 -->
      <div class="shadow-lg rounded-lg">
        <a href="#">
          <img
            src="../../../../../assets/images/products/women/product4.jpg"
            class="rounded-tl-lg rounded-tr-lg"
          />
        </a>
        <div class="p-5 mx-auto">
          <h3><a href="#">Women's Skirt</a></h3>
          <!-- Card Buttons Start -->
          <div class="flex flex-col xl:flex-row justify-between my-2">
            <a
              href="#"
              class="bg-gradient-to-r from-red-600 to-pink-500 rounded-full mr-1 py-2 px-3 text-gray-50 flex flex-row hover:from-pink-600 hover:to-pink-600 text-sm whitespace-nowrap justify-center my-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5 mr-1"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
                />
              </svg>
              Add to Cart
            </a>
            <a
              href="#"
              class="bg-purple-600 rounded-full ml-1 py-2 px-3 text-gray-50 flex flex-row hover:bg-purple-700 text-sm whitespace-nowrap justify-center my-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5 mr-1"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"
                />
              </svg>
              View Details
            </a>
          </div>
          <!-- Card Buttons End -->
        </div>
      </div>
      <!-- Product Card 03 -->
      <div class="shadow-lg rounded-lg">
        <a href="#">
          <img
            src="../../../../../assets/images/products/women/product4.jpg"
            class="rounded-tl-lg rounded-tr-lg"
          />
        </a>
        <div class="p-5 mx-auto">
          <h3><a href="#">Women's Skirt</a></h3>
          <!-- Card Buttons Start -->
          <div class="flex flex-col xl:flex-row justify-between my-2">
            <a
              href="#"
              class="bg-gradient-to-r from-red-600 to-pink-500 rounded-full mr-1 py-2 px-3 text-gray-50 flex flex-row hover:from-pink-600 hover:to-pink-600 text-sm whitespace-nowrap justify-center my-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5 mr-1"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
                />
              </svg>
              Add to Cart
            </a>
            <a
              href="#"
              class="bg-purple-600 rounded-full ml-1 py-2 px-3 text-gray-50 flex flex-row hover:bg-purple-700 text-sm whitespace-nowrap justify-center my-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5 mr-1"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"
                />
              </svg>
              View Details
            </a>
          </div>
          <!-- Card Buttons End -->
        </div>
      </div>
      <!-- Product Card 04 -->
      <div class="shadow-lg rounded-lg">
        <a href="#">
          <img
            src="../../../../../assets/images/products/women/product4.jpg"
            class="rounded-tl-lg rounded-tr-lg"
          />
        </a>
        <div class="p-5 mx-auto">
          <h3><a href="#">Women's Skirt</a></h3>
          <!-- Card Buttons Start -->
          <div class="flex flex-col xl:flex-row justify-between my-2">
            <a
              href="#"
              class="bg-gradient-to-r from-red-600 to-pink-500 rounded-full mr-1 py-2 px-3 text-gray-50 flex flex-row hover:from-pink-600 hover:to-pink-600 text-sm whitespace-nowrap justify-center my-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5 mr-1"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
                />
              </svg>
              Add to Cart
            </a>
            <a
              href="#"
              class="bg-purple-600 rounded-full ml-1 py-2 px-3 text-gray-50 flex flex-row hover:bg-purple-700 text-sm whitespace-nowrap justify-center my-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5 mr-1"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"
                />
              </svg>
              View Details
            </a>
          </div>
          <!-- Card Buttons End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Product Box Ends -->
</div>
