<!-- Sidebar Start -->
<nav class="flex my-12">
  <div class="{{isNavBarOpen? 'w-[300px]' : 'w-fit rounded-lg border-r-2' }} h-[400px] sidebar my-4 bottom-0 lg:left-0 p-2 overflow-y-auto text-center z-50">
    <div class="{{!isNavBarOpen? 'flex' : 'hidden'}}">
      <svg (click)="openNavBar()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
      </svg>
    </div>
    <div class="flex {{isNavBarOpen? 'flex' : 'hidden'}}">
      <span (click)="closeNavBar()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M18.75 19.5l-7.5-7.5 7.5-7.5m-6 15L5.25 12l7.5-7.5" />
        </svg>
      </span>
    </div>
    <div class="{{isNavBarOpen? 'inline' : 'hidden'}}">
      <h1>Categories</h1>
    </div>
  </div>
  <div (click)="closeNavBar()" class="bg-gray-900 {{isNavBarOpen? 'block' : 'hidden'}} w-full opacity-60 my-4">
  </div>
</nav>
<!-- Sidebar Ends -->
<!-- Product Box Start -->

<!-- Product Box Ends -->
