<!-- Overlay -->
<div
  (click)="onCloseDetail()"
  id="modal_overlay"
  class="fixed bg-gray-900 w-full min-h-screen left-0 top-0 bg-opacity-50 flex justify-center "
></div>
<!-- Modal -->
<div
  *ngIf="product"
  id="modal"
  class="fixed top-[12%] left-[10%] right-[10%] h-[320px] bg-white rounded-xl p-4 flex flex-col justify-center shadow-xl"
>
  <div class="grid grid-flow-col md:grid-cols-3 xl:grid-cols-4 gap-3">
    <div class="m-0 flex justify-center">
      <img class="rounded-xl h-[250px] hidden sm:block md:visible" src="{{ product.image }}" alt="" />
    </div>
    <div class="md:col-span-2 xl:col-span-3 flex flex-col justify-between">
      <div>
        <h1>{{ product.title || "Title" }}</h1>
        <p class="text-md">{{ product.description }}</p>
        <p class="text-right text-lg p-3">
          <strong>{{ product.price | currency }}</strong>
        </p>
      </div>
      <div class="top-[100%] flex justify-end">
        <button
        (click)="onAddToCart(this.product)"
        class="bg-gradient-to-r from-red-600 to-pink-500 rounded-full py-2 px-3 text-gray-50 flex flex-row hover:from-pink-600 hover:to-pink-600 text-sm whitespace-nowrap justify-center my-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-5 h-5 mr-1"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
          />
        </svg>
        Add to Cart
      </button>
      </div>
    </div>
  </div>
  <!-- Close button -->
  <button class="absolute top-3 right-0 mr-3">
    <span (click)="onCloseDetail()" class="flex justify-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-7 h-7 p-1 hover:bg-rose-600 rounded-full hover:text-white"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </span>
  </button>
</div>
