<!-- Floating Menu Start -->
<nav class="w-full top-0 left-0 h-screen fixed z-50 {{ isSideBarShowing?'flex' : 'hidden' }}">
  <div class="bg-white w-full md:max-w-sm shadow-2xl">
    <div class="flex justify-end px-14 py-7">
      <svg (click)="this.closeSideBar()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </div>
    <div class="mt-6 text-center">
      <app-menu></app-menu>
    </div>
  </div>
  <div (click)="this.closeSideBar()" class="bg-gray-900 hidden sm:block sm:w-full opacity-60">
  </div>
</nav>
<!-- Floating Menu End -->

<div class="container relative mb-[20px]">
  <div class="md:flex md:flex-row md:justify-between text-center">
    <div class="flex justify-between items-center">
      <div class="flex flex-row justify-center">
        <div
          class="bg-gradient-to-r from-purple-400 to-red-400 w-10 h-10 rounded-lg mr-2"
        ></div>
        <h1 class="text-3xl text-gray-600">Logo</h1>
      </div>
      <span class="text-3xl cursor-pointer mx-2 md:hidden block">
        <svg (click)="this.openSideBar()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </span>
    </div>
    <div class="mt-2 hidden md:flex">
      <app-menu [cart]="cart"></app-menu>
    </div>
  </div>
</div>


