<div class="md:flex md:flex-row mt-20">
  <div class="md:w-2/5 flex flex-col justify-center items-center">
    <h2 class="font-serif text-9xl text-gray-600 mb-4 text-center md:text-left md:self-start">Some Catchy Title Here.</h2>
    <p class="uppercase text-gray-600 tracking-wide text-center md:text-left md:self-start ">Our brand tagline goes here.</p>
    <p class="uppercase text-gray-600 tracking-wide text-center md:text-left md:self-start ">Our brand motto goes here.</p>
    <a routerLink="/shop" class="bg-gradient-to-r from-red-600 to-pink-500 rounded-full py-4 px-8 text-gray-50 uppercase text-xl md:self-start my-5 hover:scale-110 ease-in-out duration-300">Shop Now</a>
  </div>
  <div class="md:w-3/5">
    <img src="../../../assets/images/hero-img.svg" class="w-full max-w-2xl" />
  </div>
</div>
