<!-- Desktop Table -->
<div class="max-w-7x1 mx-auto" *ngIf="cart.items.length">
  <table class="md:table-auto w-full shadow-xl md:table hidden">
    <thead class="bg-gray-100 border-b-2 border-gray-200 rounded-xl">
      <tr>
        <ng-container *ngFor="let column of displayedColumns">
          <th class="text-left text-gray-600 p-3">{{ column }}</th>
        </ng-container>
        <th></th>
      </tr>
    </thead>
    <tbody
      class="bg-gray-50 md:hover:bg-gray-100 md:hover:scale-105 ease-in-out duration-500"
      *ngFor="let item of dataSource"
    >
      <td>
        <img
          class="w-[150px] my-5 rounded-lg"
          src="{{ item.product }}"
          alt=""
        />
      </td>
      <td>
        <span class="truncate max-w-xs">{{ item.name }}</span>
      </td>
      <td>{{ item.price | currency }}</td>
      <td class="items-left">
        <div class="flex justify-start">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 mr-5 md:hover:bg-purple-800 md:hover:text-white rounded-full"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
          </svg>
          <span>{{ item.quantity }}</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 ml-5 md:hover:bg-purple-800 md:hover:text-white rounded-full"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 6v12m6-6H6"
            />
          </svg>
        </div>
      </td>
      <td>{{ item.quantity * item.price | currency }}</td>
      <td>
        <span class="flex justify-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-8 h-8 text-rose-600 hover:bg-rose-600 rounded-full hover:text-white object-"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </span>
      </td>
    </tbody>
    <div class="table-footer-group">
      <td>
        <button
          routerLink="/home"
          class="text-gray-600 md:bg-purple-600 md:text-gray-50 md:hover:bg-purple-700 px-4 p-1 rounded-xl whitespace-nowrap w-fit"
        >
          Continue shopping
        </button>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <span class="font-bold py-5 block">
          {{ getTotal(cart.items) | currency }}
        </span>
      </td>
      <td class="text-center flex flex-col justify-between items-center">
        <button
          class="text-gray-600 md:bg-rose-600 md:text-gray-50 md:hover:bg-rose-700 px-5 p-0.5 rounded-xl whitespace-nowrap w-fit"
        >
          Clear All
        </button>
        <button class="my-2">Checkout</button>
      </td>
    </div>
  </table>
</div>

<!-- Mobile Table -->
<div class="md:hidden">
  <div class="bg-white p-4 rounded-lg">
    <div class="grid grid-cols-2 gap-4 mb-5">
      <!-- Card Content-->
      <ng-container
        class="bg-gray-50 md:hover:bg-gray-100"
        *ngFor="let item of dataSource"
      >
        <div
          class="flex justify-around shadow-lg rounded-lg hover:scale-105 ease-in duration-300"
        >
          <div>
            <img
              class="w-[100px] my-5 rounded-lg"
              src="{{ item.product }}"
              alt=""
            />
          </div>
          <div class="flex flex-col justify-around text-center">
            <span class="truncate max-w-xs w-full font-semibold">{{
              item.name
            }}</span>
            <div>
              <span>{{ item.price | currency }}</span>
              <div class="flex justify-between items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-4 h-4 mr-1"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M19.5 8.25l-7.5 7.5-7.5-7.5"
                  />
                </svg>
                <span class="w-4 text-sm">{{ item.quantity }}</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-4 h-4 ml-1"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 15.75l7.5-7.5 7.5 7.5"
                  />
                </svg>
              </div>
            </div>
            <span class="font-semibold">{{
              item.quantity * item.price | currency
            }}</span>
          </div>
          <button class="bg-rose-600 text-white rounded-full w-6 h-6 mt-3">
            <span class="flex justify-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                />
              </svg>
            </span>
          </button>
        </div>
      </ng-container>
    </div>
    <!-- Table Footer -->
    <div class="flex justify-between">
        <button
          routerLink="/home"
          class="bg-purple-700 text-gray-50 px-3 rounded-xl whitespace-nowrap w-fit"
        >
          Continue shopping
        </button>
        <div>
          <span class="font-bold mr-10">
            {{ getTotal(cart.items) | currency }}
          </span>
          <button
            class="text-gray-50 bg-rose-700 px-3 rounded-xl whitespace-nowrap w-fit"
          >
            Checkout
          </button>
        </div>
    </div>
  </div>
</div>

<div *ngIf="!cart.items.length">
  <p>Your cart is empty!</p>
  <button class="border-2 rounded-lg p-2 mb-2">Start shopping</button>
</div>
